body {background-color: }
.yes {color: white; text-align: center;}
h2 { color: red; text-align: center; }
h3 {color: red; text-align: center;}
a:hover {text-decoration: line-through; color: red;}
li {text-decoration: underline;}
td {color: black; font-style: italic;}
a:link {text-decoration: none;}
a:hover {text-decoration: underline; background-color: yellow;}
table, th, td, tr {border: 1px solid; font-style;}
table {width: 70%; border: 1px solid black;}
a:visited {color: brown}
#v4 {background-color: #D5D5D2}
th {background-color: grey}