h1 {text-align: center;}
#footer {text-align: center; font-family: 'comic sans ms', cursive, sans-serif; font-weight: bold;}
#font {font-family: 'comic sans ms', cursive, sans-serif; font-weight: bold;}
#contact {text-align: right; font-weight: bold;}
a:visted {color: red}
a:hover {font-weight: bold; color: red;}
a {text-decoration: none;}